<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>graffiti.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>10458D7B1BB21AD80099FD13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10458D8F1BB21AD80099FD13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10458D9A1BB21AD80099FD13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
